<section id= 'project-<%= @project.id %>'>
  <%= @project.challenge.theme %>
  <%= @project.name %>
  <%= @project.material %>
  <%= @project.contestant_count %>

  <%= Average experience: @project.contestants.average_experience %>
</section>
