<section id= 'project-<%= @project.id %>'>
  <%= @project.challenge.theme %>
  <%= @project.name %>
  <%= @project.material %>
  Contestants: <%= @project.contestant_count %>
  Average Years of Experience: <%= @project.average_experience %>
</section>
